urllib3
openai
fastapi
uvicorn
requests
python-dotenv
tiktoken
pydantic
pytest
langchain
pillow
numpy
markdown
joblib
langchain-community
pandas
scikit-learn
GitPython
python-dateutil
faker
